

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
img{
-user-drag: none;
-moz-user-select: none;
-webkit-user-drag: none;
}
.fa-facebook-square {
    color:#3b5998
}

.fa-twitter-square {
    color:#55ACEE
}

.fa-pinterest-square {
    color:#cb2027
}

.fa-rss-square {
    color: #FF6600;
}

.fa-youtube-square {
    color:#bb0000
}
#hover-img .thumbnail {
            position: relative;
            overflow: hidden;
        }

#hover-img .caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    color: #fff !important;
}

#hover-img .caption p {
    padding: 6px;
}

#hover-img .caption-btm {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 4px;
    color: #fff;
    display: table;
    width: 100%;
}

#hover-img .caption-btm p {
    text-align: left;
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
}

.nobullet
{
    margin: 0 auto;
    padding: 0;
    float: none;
    list-style-type: none;
}
.carousel-custom{
    text-align: left !important;
}
.carousel-custom h1{
    font-family: 'Arvo', serif;
    font-size: 4em;
}
.carousel-custom p{
    font-family: 'Gloria Hallelujah', cursive;
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-size: 1.5em;
    padding: 10px;
    line-height: 10px;
    height: 1.5em;
}

.quoteline
{
    background-color: lightgray;
    width: 33%;
    height: 2px;
    
    top:50%; margin-top:30px;
}

.logo
{
    display: block;
    background: rgba(0,0,0,0.1);
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.footerlinks
{
    padding-bottom: 1em;
}